table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 50px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

td:hover {
    background-color: #f5f5f5;
}