{% extends "template.html" %}
{% load bootstrap3 %}
{% block header %}
    <h1>Charges</h1>
    <a href='{% url "finances:main" %}'>Return to the main page.</a><br/>
    <a href="{% url 'finances:add_charge' number=account_number %}">Add new charge</a>
{% endblock %}
{% block content %}
    <div>
        <table class="left"><caption><h2>Your deposit operations</h2></caption>
            {% for charge in deposit %}
                <tr>
                    <td>{{ charge.date }} -> {{ charge.value }}</td>
                </tr>
            {% endfor %}
        </table>
        <table class="right"><caption><h2>Your withdraw operations</h2></caption>
            {% for charge in withdraw %}
                <tr>
                    <td>{{ charge.date }} -> {{ charge.value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}