{% extends "template.html" %}
{% block header %}
    <h1>Charge Generator</h1>
    <a href='{% url "finances:main" %}'>Return to the main page.</a>
{% endblock %}
{% block content %}
    <div>
        <table class="left"><caption><h2>Your deposit operations</h2></caption>
            {% for date, value in deposit %}
            <tr>
                <td>{{ date }} -> {{ value }}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="right"><caption><h2>Your withdraw operations</h2></caption>
            {% for date, value in withdraw %}
            <tr>
                <td>{{ date }} -> {{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}